body {
	background-color: #005265;
	font-family: Staatliches;
	color: white;
}

#board {
	background-color: #00a8d0;
	box-shadow: 0px 0px 50px 10px #00a8d0;
	position: relative;
	width: 500px;
	height: 400px;
	margin: auto;
}

body table tr td {
	text-align: center;
	border: solid 2px white;
	padding: 0px;
	margin: 0px;
	width: 50px;
	height: 50px;
	transition-duration: 0.5s;
}

table {
	border-collapse: collapse;
	margin: 10%;
}

table .label {
	border: none;
	text-align: center;
	width: 15px;
	height: 15px;
}

.success {
	background-color: #00a500;
}

.fail {
	background-color: #a50d00;
}

.error {
	background-color: #c3a500;
}

#messages {
	text-align: center;
	position: fixed;
	top: 10px;
	left: 0px;
	width: 100%;
	transition-duration: 0.2s;
}

form {
	position: absolute;
	bottom: -50px;
	width: 99.5%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	margin-bottom: 10px;
}

input {
	font-family: Staatliches;
	color: white;
	background-color: #005265;
	border: 2px white solid;
	transition-duration: 0.2s;
}

input:disabled {
	opacity: 0%;
}

#fireButton:hover {
	color: #005265;
	background-color: white;
}

#guessInput:focus {
	background-color: #0082a0;
}

.hit {
	color: white;
	background-image: radial-gradient(#e50000, rgba(217, 0, 0, 0))
}

.miss {
	color: white;
	background-color: #0082a0;
}
